footer {
    // remove social items for small/mobile view
    .social-media {
        display: none;
    }
}
@media screen and (min-width: $medium) {
    footer {
        position: fixed;
        bottom: 15px;
        left: 2vw;
        .social-media {
            display: flex;
            flex-direction: column;
            // gap: 15px;
            // margin: 5vw;
            a {
                color: black;
                text-decoration: none;
                font-size: 2rem;
                padding: 15px;
                width: 20px;
            }
        }
    }
}

@media screen and (min-width: $large) {
    footer {
        position: fixed;
        bottom: 15px;
        left: 15px;
        .social-media {
            display: flex;
            flex-direction: column;
            // gap: 15px;
            // margin: 5vw;
            a {
                color: black;
                text-decoration: none;
                font-size: 2rem;
                padding-right: 1vw;
                width: 20px;
            }
        }
    }
}
