/* defines the color and ordering of the small/mobile view menu overlay */
header {
    .home-button {
        text-decoration: none;
        color: black;
    }
    &:hover > #title {
        /* underlines the navigation links on hover */
        text-decoration: underline;
    }
    img {
        position: absolute;
        width: 20vw;
        border-radius: 50%;
        top: 5vh;
        left: 5vw;
        z-index: 0;
    }
    /* menu button creation
    position box, then create the inner lines with flexbox */
    .menu-button {
        position: absolute;
        right: 35px;
        top: 35px;
        background-color: $header;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        z-index: 2;
        overflow: hidden;
        .menu-button-line {
            width: 30px;
            height: 4px;
            background-color: black;
            transition: 0.2s;
        }
    }
    #menu-toggle {
        /* Animations, on toggle of the menu box which is acting as the checkbox
         The menu buttons transform to form an X
         The navigation menu slides in from the right */
        display: none;
        &:checked {
            & + .menu-button {
                gap: 0px;
                background-color: $background-color;
                .menu-button-top-line {
                    transform: rotate(45deg) scale(1.3, 8);
                    margin-top: 20px;
                }
                .menu-button-middle-line {
                    opacity: 0;
                }
                .menu-button-bottom-line {
                    transform: rotate(-45deg) scale(1.3, 8);
                    margin-bottom: 19px;
                }
                & + .navigation-menu {
                    transform: translateX(-100vw);
                }
            }
        }
    }
    .navigation-menu {
        background-color: $header;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100vw;
        transition: 0.3s ease-in-out;
        z-index: 1;
        @media screen and (min-width: $medium) {
            transition: none;
        }
        .nav-item-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80vh;
            gap: 25px;
            .nav-item {
                text-decoration: none;
                font-family: $text;
                font-size: 30px;
                color: black;
                margin-left: 15vw;
                &:hover {
                    text-decoration: underline;
                }
            }
            .social-media {
                position: absolute;
                top: 80vh;
                left: 15vw;
                a {
                    color: black;
                    text-decoration: none;
                    font-size: 2rem;
                    padding-right: 20px;
                }
            }
            /* hides logo for mobile view */
            .logo {
                display: none;
            }
        }
        .contact {
            margin-bottom: 3vh;
        }
    }
}
@media screen and (min-width: $medium) {
    body {
        header {
            a > img {
                /* sizing for my picture */
                position: absolute;
                width: clamp(10vh, 10vh + 100px, 200px);
                border-radius: 50%;
                top: max(15vh, 150px);
                left: 5vw;
                z-index: 0;
                @media screen and (max-height: 568px) {
                    display: none;
                }
            }
            .menu-button {
                display: none;
            }
            .navigation-menu {
                background-color: $header;
                width: 100%;
                height: 100px;
                position: absolute;
                top: 0px;
                left: 0px;
                .nav-item-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    margin-right: 20px;
                    gap: 25px;
                    height: 100px;

                    .nav-item {
                        text-decoration: none;
                        font-family: $text;
                        font-size: 30px;
                        color: black;
                        margin-left: 0vw;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .logo {
                        display: block;
                        position: absolute;
                        top: 25px;
                        left: 19px;
                        font-family: $heading;
                        font-size: 40px;
                        color: black;
                    }
                    .social-media {
                        display: none;
                    }
                }
                .contact {
                    margin-bottom: 0px;
                }
            }
            #menu-toggle {
                /* Animations, on toggle of the menu box which is acting as the checkbox
                The menu buttons transform to form an X
                The navigation menu slides in from the right */
                display: none;
                /* had to add this in for larger screen sizes to stop a bug which would make the header move to the left of the screen */
                &:checked {
                    & + .menu-button {
                        gap: 0px;
                        background-color: $background-color;
                        .menu-button-top-line {
                            transform: rotate(45deg) scale(1.3, 8);
                            margin-top: 20px;
                        }
                        .menu-button-middle-line {
                            opacity: 0;
                        }
                        .menu-button-bottom-line {
                            transform: rotate(-45deg) scale(1.3, 8);
                            margin-bottom: 19px;
                        }
                        & + .navigation-menu {
                            transform: translateX(0vw);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $large) {
    body {
        header {
            a > img {
                /* sizing for my picture */
                position: absolute;
                width: clamp(10vh, 10vh + 100px, 200px);
                border-radius: 50%;
                top: max(15vh, 150px);
                left: 28vw;
                z-index: 0;
                @media screen and (max-height: 568px) {
                    display: none;
                }
            }
            .menu-button {
                display: none;
            }
            .navigation-menu {
                background-color: $header;
                width: 100%;
                height: 100px;
                position: absolute;
                top: 0px;
                left: 0px;
                .nav-item-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    margin-right: 20px;
                    gap: 25px;
                    height: 100px;

                    .nav-item {
                        text-decoration: none;
                        font-family: $text;
                        font-size: 30px;
                        color: black;
                        margin-left: 0vw;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .logo {
                        display: block;
                        position: absolute;
                        top: 25px;
                        left: 19px;
                        font-family: $heading;
                        font-size: 40px;
                        color: black;
                    }
                    .social-media {
                        display: none;
                    }
                }
                .contact {
                    margin-bottom: 0px;
                }
            }
            #menu-toggle {
                /* Animations, on toggle of the menu box which is acting as the checkbox
                The menu buttons transform to form an X
                The navigation menu slides in from the right */
                display: none;
                /* had to add this in for larger screen sizes to stop a bug */
                &:checked {
                    & + .menu-button {
                        gap: 0px;
                        background-color: $background-color;
                        .menu-button-top-line {
                            transform: rotate(45deg) scale(1.3, 8);
                            margin-top: 20px;
                        }
                        .menu-button-middle-line {
                            opacity: 0;
                        }
                        .menu-button-bottom-line {
                            transform: rotate(-45deg) scale(1.3, 8);
                            margin-bottom: 19px;
                        }
                        & + .navigation-menu {
                            transform: translateX(0vw);
                        }
                    }
                }
            }
        }
    }
}
