@import "../components/index";
// Changes the font in the menu overlay for the current page

// Main styling
body {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 20vh;
    margin-left: 35px;
    margin-right: 35px;
    font-family: $text;
    font-size: 0.9rem;
    gap: 5vw;
    header {
        .about {
            font-family: $heading;
            font-size: 40px;
            position: absolute;
            left: 35px;
            top: -5px;
        }
        #about {
            font-family: $heading;
        }
        // hides the logo for mobile view
        .logo {
            display: none;
        }
    }
    main {
        .item {
            margin-bottom: 10px;
        }
    }
    footer {
        .resume {
            background-color: black;
            height: 10px;
            width: 10px;
            text-decoration: none;
            color: white;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    }
}
