@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
body {
  background-color: #d8a7b1;
}

/* font-family: 'Abril Fatface', cursive; */
/* font-family: "Poppins", sans-serif; */
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* defines the color and ordering of the small/mobile view menu overlay */
header {
  /* menu button creation
  position box, then create the inner lines with flexbox */
}
header .home-button {
  text-decoration: none;
  color: black;
}
header:hover > #title {
  /* underlines the navigation links on hover */
  text-decoration: underline;
}
header img {
  position: absolute;
  width: 20vw;
  border-radius: 50%;
  top: 5vh;
  left: 5vw;
  z-index: 0;
}
header .menu-button {
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: #b6e2d3;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 2;
  overflow: hidden;
}
header .menu-button .menu-button-line {
  width: 30px;
  height: 4px;
  background-color: black;
  transition: 0.2s;
}
header #menu-toggle {
  /* Animations, on toggle of the menu box which is acting as the checkbox
   The menu buttons transform to form an X
   The navigation menu slides in from the right */
  display: none;
}
header #menu-toggle:checked + .menu-button {
  gap: 0px;
  background-color: #d8a7b1;
}
header #menu-toggle:checked + .menu-button .menu-button-top-line {
  transform: rotate(45deg) scale(1.3, 8);
  margin-top: 20px;
}
header #menu-toggle:checked + .menu-button .menu-button-middle-line {
  opacity: 0;
}
header #menu-toggle:checked + .menu-button .menu-button-bottom-line {
  transform: rotate(-45deg) scale(1.3, 8);
  margin-bottom: 19px;
}
header #menu-toggle:checked + .menu-button + .navigation-menu {
  transform: translateX(-100vw);
}
header .navigation-menu {
  background-color: #b6e2d3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100vw;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
@media screen and (min-width: 760px) {
  header .navigation-menu {
    transition: none;
  }
}
header .navigation-menu .nav-item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  gap: 25px;
  /* hides logo for mobile view */
}
header .navigation-menu .nav-item-list .nav-item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: black;
  margin-left: 15vw;
}
header .navigation-menu .nav-item-list .nav-item:hover {
  text-decoration: underline;
}
header .navigation-menu .nav-item-list .social-media {
  position: absolute;
  top: 80vh;
  left: 15vw;
}
header .navigation-menu .nav-item-list .social-media a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  padding-right: 20px;
}
header .navigation-menu .nav-item-list .logo {
  display: none;
}
header .navigation-menu .contact {
  margin-bottom: 3vh;
}

@media screen and (min-width: 760px) {
  body header a > img {
    /* sizing for my picture */
    position: absolute;
    width: clamp(10vh, 10vh + 100px, 200px);
    border-radius: 50%;
    top: max(15vh, 150px);
    left: 5vw;
    z-index: 0;
  }
}
@media screen and (min-width: 760px) and (max-height: 568px) {
  body header a > img {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  body header .menu-button {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  body header .navigation-menu {
    background-color: #b6e2d3;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  body header .navigation-menu .nav-item-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 25px;
    height: 100px;
  }
  body header .navigation-menu .nav-item-list .nav-item {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 0vw;
  }
  body header .navigation-menu .nav-item-list .nav-item:hover {
    text-decoration: underline;
  }
  body header .navigation-menu .nav-item-list .logo {
    display: block;
    position: absolute;
    top: 25px;
    left: 19px;
    font-family: "Abril Fatface", cursive;
    font-size: 40px;
    color: black;
  }
  body header .navigation-menu .nav-item-list .social-media {
    display: none;
  }
  body header .navigation-menu .contact {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 760px) {
  body header #menu-toggle {
    /* Animations, on toggle of the menu box which is acting as the checkbox
    The menu buttons transform to form an X
    The navigation menu slides in from the right */
    display: none;
    /* had to add this in for larger screen sizes to stop a bug which would make the header move to the left of the screen */
  }
  body header #menu-toggle:checked + .menu-button {
    gap: 0px;
    background-color: #d8a7b1;
  }
  body header #menu-toggle:checked + .menu-button .menu-button-top-line {
    transform: rotate(45deg) scale(1.3, 8);
    margin-top: 20px;
  }
  body header #menu-toggle:checked + .menu-button .menu-button-middle-line {
    opacity: 0;
  }
  body header #menu-toggle:checked + .menu-button .menu-button-bottom-line {
    transform: rotate(-45deg) scale(1.3, 8);
    margin-bottom: 19px;
  }
  body header #menu-toggle:checked + .menu-button + .navigation-menu {
    transform: translateX(0vw);
  }
}
@media screen and (min-width: 1213px) {
  body header a > img {
    /* sizing for my picture */
    position: absolute;
    width: clamp(10vh, 10vh + 100px, 200px);
    border-radius: 50%;
    top: max(15vh, 150px);
    left: 28vw;
    z-index: 0;
  }
}
@media screen and (min-width: 1213px) and (max-height: 568px) {
  body header a > img {
    display: none;
  }
}
@media screen and (min-width: 1213px) {
  body header .menu-button {
    display: none;
  }
}
@media screen and (min-width: 1213px) {
  body header .navigation-menu {
    background-color: #b6e2d3;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  body header .navigation-menu .nav-item-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 25px;
    height: 100px;
  }
  body header .navigation-menu .nav-item-list .nav-item {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 0vw;
  }
  body header .navigation-menu .nav-item-list .nav-item:hover {
    text-decoration: underline;
  }
  body header .navigation-menu .nav-item-list .logo {
    display: block;
    position: absolute;
    top: 25px;
    left: 19px;
    font-family: "Abril Fatface", cursive;
    font-size: 40px;
    color: black;
  }
  body header .navigation-menu .nav-item-list .social-media {
    display: none;
  }
  body header .navigation-menu .contact {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1213px) {
  body header #menu-toggle {
    /* Animations, on toggle of the menu box which is acting as the checkbox
    The menu buttons transform to form an X
    The navigation menu slides in from the right */
    display: none;
    /* had to add this in for larger screen sizes to stop a bug */
  }
  body header #menu-toggle:checked + .menu-button {
    gap: 0px;
    background-color: #d8a7b1;
  }
  body header #menu-toggle:checked + .menu-button .menu-button-top-line {
    transform: rotate(45deg) scale(1.3, 8);
    margin-top: 20px;
  }
  body header #menu-toggle:checked + .menu-button .menu-button-middle-line {
    opacity: 0;
  }
  body header #menu-toggle:checked + .menu-button .menu-button-bottom-line {
    transform: rotate(-45deg) scale(1.3, 8);
    margin-bottom: 19px;
  }
  body header #menu-toggle:checked + .menu-button + .navigation-menu {
    transform: translateX(0vw);
  }
}
/* remove social items as they are located in the menu overlay */
footer .social-media {
  display: none;
}

@media screen and (min-width: 760px) {
  footer {
    /* maintaining social icons positioning for a range of tablet sizes */
    position: fixed;
    bottom: min(1vw, 2px);
    left: min(1vw, 2px);
  }
  footer .social-media {
    display: flex;
    flex-direction: column;
  }
  footer .social-media a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    padding: min(10px, 2vh);
    width: 20px;
  }
}
@media screen and (min-width: 1213px) {
  footer {
    /* moving the social icons to work on a large screen */
    position: static;
  }
  footer .social-media {
    display: flex;
    flex-direction: row;
  }
  footer .social-media a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    padding-right: 1vw;
    width: 20px;
  }
}
header {
  /* changes the button of the current page */
}
header .about {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  position: absolute;
  left: 35px;
  top: -5px;
}
header #about {
  font-family: "Abril Fatface", cursive;
  position: relative;
  bottom: 1.5px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}
@media screen and (min-width: 1213px) {
  body {
    /* adding this in for spacing with the social media icons */
    justify-content: space-between;
  }
}
body main {
  width: min(80vw, 600px);
  /* margin keeps the text in the middle while maintaining a nice fluid zoom */
  margin-inline: auto;
  margin-top: 120px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(0.6rem, 1vw + 1rem, 2rem);
  animation: fade-up 0.5s;
}
@media screen and (min-width: 760px) {
  body main {
    font-size: 1.5rem;
    margin-top: clamp(120px, 20vh, 200px);
  }
}
body main .item {
  margin-bottom: clamp(10px, 10vw, 50px);
}

/* had to add a wrapper to make the box not a defined width
adding padding onto the wrapper to make it lower down and seperate from the paragraphs */
.resume-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}
.resume-wrapper .resume {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: clamp(0.6rem, 2vw + 0.5rem, 1.5rem);
}/*# sourceMappingURL=about.css.map */