@import "../components/index";

// Main styling
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $text;
    width: min(90vw, 600px);
    margin-inline: auto;
    margin-top: 120px;
    @media screen and (min-width: $medium) {
        width: min(80vw, 1000px);
        margin-top: clamp(120px, 15vw, 150px);

    }
    @media screen and (min-width: $large) {
        width: min(80vw, 2000px);

    }
    header {
        // Changes the font in the menu overlay for the current page
        #blog {
            font-family: $heading;
            position: relative;
            bottom: 1.5px;
        }
    }
    .page-title {
        font-family: $heading;
        font-size: 40px;
        position: absolute;
        left: 35px;
        top: -5px;
    }
    main {
        animation: fade-up 0.5s;
        .blog-parent {
            display: grid;
            gap: 1.5rem;
            grid-auto-columns: 1fr;
            grid-template-areas:
                "one"
                "two"
                "three"
                "four"
                "five";
            @media screen and (min-width: $medium) {
                grid-template-areas:
                    "two two"
                    "one three"
                    "four three"
                    "five five";
            }
            @media screen and (min-width: $large) {
                grid-template-areas:
                    "two two one three"
                    "five four four three";
            }
            .blog-child {
                background-color: $blog-background;
                border-radius: 5px;
                padding: 10px;
                overflow: hidden;
                text-decoration: none;
                color: black;
                img {
                    width: 40%;
                    border-radius: 10px;
                    float: left;
                    margin: 5px;
                }
                // nth-child to make some variability of the images
                &:nth-child(2n) > img {
                    float: right;
                }
                .blog-item-header {
                    font-family: $heading;
                    text-align: center;
                    margin: 1vh 0;
                    font-size: 1.5rem;
                }
                .published-date {
                    margin: 0 0.1vw;
                    text-align: right;
                }

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}
footer {
    display: flex;

    .to-the-top {
        margin-bottom: 15px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
        @media screen and (min-width: $medium) {
            display: none;
        }
    }
}
