@import "../components/index";

// Main styling
body {
    font-family: $text;
    header {
        // Changes the font in the menu overlay for the current page
        #blog {
            font-family: $heading;
        }
        // hides the logo for mobile view
        .logo {
            display: none;
        }
    }
    .page-title {
        font-family: $heading;
        font-size: 40px;
        position: absolute;
        left: 35px;
        top: -5px;
    }
    main {
        margin: 20vh 25px;
        .blog-parent {
            display: grid;
            gap: 1rem;
            grid-auto-columns: 1fr;
            grid-template-areas:
                "one"
                "two"
                "three"
                "four"
                "five";
            .blog-child {
                background-color: $blog-background;
                border-radius: 5px;
                padding: 10px;
                overflow: hidden;
                text-decoration: none;
                color: black;
                img {
                    width: 40%;
                    border-radius: 10px;
                    float: left;
                    margin: 5px;
                }
                // nth-child to make some variability of the images
                &:nth-child(2n) > img {
                    float: right;
                }
                .blog-item-header {
                    font-family: $heading;
                    margin: 1vh 0;
                    font-size: 1.5rem;
                }
                .published-date {
                    margin: 0 0.1vw;
                    text-align: right;
                }

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}
footer {
    .to-the-top {
        position: relative;
        left: 27%;
        bottom: 10vh;
        background-color: black;
        color: white;
        height: 10px;
        width: 100px;
        text-decoration: none;
        padding: 10px;
    }
}
