@import "../components/index";
// main styling
body {
    section {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-around;
        align-items: center;
        .welcome {
            font-family: $heading;
            font-size: 1.8rem;
            // margin-top: 20vh;
            text-align: right;
            .full-name {
                display: none;
            }
            .welcome-sub {
                vertical-align: text-top;
                font-size: small;
            }
        }
        .about-me {
            font-family: $text;
            font-size: 1.4rem;
            // padding-top: 20vh;
        }
        img {
            position: absolute;
            width: 20vw;
            border-radius: 50%;
            top: 5vh;
            left: 5vw;
            z-index: 0;
        }
    }
}
// Changes the headings for specific words to show user they are links
.about-me-sub {
    font-family: $heading;
    font-size: 1.55rem;
    text-decoration: none;
    color: black;
    &:hover {
        text-shadow: 2px 2px black;
        color: white;
    }
}
// hides logo for mobile view
.logo {
    display: none;
}
